<h2>Edit rental</h2>

{{#rental-persistence-form persistRental=(route-action "updateRental") rental=rental}}
  <button type="submit" class="btn btn-primary" data-test-update-rental>Edit Rental</button>
{{/rental-persistence-form}}
