<h2>Create a new rental</h2>

{{#rental-persistence-form persistRental=(route-action "createRental") rental=rental}}
  <button type="submit" class="btn btn-primary" data-test-create-rental>Create rental</button>
{{/rental-persistence-form}}
